* {
    font-family: "MesloLGS NF";
    font-size: 14px;
}

#window {
    color: #ebdbb2;
}

window#waybar {
    background-color: #1d2021;
    border-radius: 0px;
}

.modules-right {
    margin-right: 1.5rem;
}
.modules-left {
    margin-left: 1.5rem;
}
tooltip {
    background: #45403d;
    border-radius: 10px;
}
tooltip label {
    color: #ebdbb2;
    background-color: #45403d;
    border-radius: 10px;
}
tooltip * {
    border-radius: 10px;
}
#workspaces button {
    margin: 0;
    color: #d4be98;
    font-weight: bolder;
    font-style: normal;
    margin: 0.2rem 0.1rem;
}
button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: inherit;
}
#workspaces button.active {
    color: #458588;
    transition: all 0.1s ease-in-out;
}

#clock,
#custom-weather {
    color: #ebdbb2;
}

#clock {
    padding: 0 0 0 1.5em;
}
#custom-weather {
    padding: 0 1.5em 0 0.5em;
}
#memory {
    color: #ebdbb2;
    padding: 0 0.3em;
}

#pulseaudio {
    margin: 0;
    padding: 0 0.5em 0 0.4em;
    color: #ebdbb2;
}

#backlight {
    margin: 0;
    padding: 0 0.5em 0 0.4em;
    color: #d8a657;
}
#cpu {
    margin: 0;
    padding: 0 0.1em 0 0.1em;
    color: #a9b665;
}
#network {
    margin: 0;
    padding: 0 0.4em 0 0.5em;
    color: #d8a657;
}
#custom-cycle_wall {
    margin: 0;
    padding: 0 0.5em;
    color: #d3869b;
}

#language {
    margin: 0;
    padding: 0 0.1em;
    color: #d3869b;
}
#tray {
    margin: 0;
    padding: 0 0.2em;
    color: #d3869b;
}
#battery {
    margin: 0;
    padding: 0 0.5em 0 0.4em;
    color: #a9b665;
}

