- name: Install shell items
  block:
    - name: Setup ZSH 
      ansible.builtin.dnf:
        name: "zsh"
        state: latest

    - name: Setup oh-my-zsh
      become: true
      become_user: {{ config.username }}
      ansible.builtin.shell: 'sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended'
      ignore_errors: true

    - name: Setup zsh-autosuggestions
      become: true
      become_user: {{ config.username }}
      ansible.builtin.shell: 'git clone https://github.com/zsh-users/zsh-autosuggestions ${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/plugins/zsh-autosuggestions'
      ignore_errors: true

    - name: Setup zsh-syntax-highlighting
      become: true
      become_user: {{ config.username }}
      ansible.builtin.shell: 'git clone https://github.com/zsh-users/zsh-syntax-highlighting.git ${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/plugins/zsh-syntax-highlighting'
      ignore_errors: true

    - name: Setup powerlevel10k
      become: true
      become_user: {{ config.username }}
      ansible.builtin.shell: 'git clone --depth=1 https://github.com/romkatv/powerlevel10k.git ${ZSH_CUSTOM:-$HOME/.oh-my-zsh/custom}/themes/powerlevel10k'
      ignore_errors: true

    - name: Setup p10k, tmux and zshrc
      become: true
      become_user: {{ config.username }}
      ansible.builtin.copy:
        src: shell/{{ item }}
        dest: "/home/{{ config.username }}"
        backup: yes
      loop:
        - .p10k.zsh
        - .zshrc
        - .tmux.conf

    - name: Setup vimrc and vim bundles
      become: true
      become_user: {{ config.username }}
      ansible.builtin.copy:
        src: shell/{{ item }}
        dest: "/home/{{ config.username }}"
        backup: yes
      loop:
        - .vimrc

    - name: Setup vundle
      become: true
      become_user: {{ config.username }}
      ansible.builtin.shell: 'git clone https://github.com/VundleVim/Vundle.vim.git ~/.vim/bundle/Vundle.vim && vim +PluginInstall +qall'
      ignore_errors: true

    - name: Install autoload in right directory
      become: true
      become_user: {{ config.username }}
      ansible.builtin.copy:
        src: "/home/{{ config.username }}/.vim/bundle/gruvbox-material/autoload/gruvbox_material.vim"
        dest: "/home/{{ config.username }}/.vim/autoload/"
      ignore_errors: true

    - name: Install colors in right directory
      become: true
      become_user: {{ config.username }}
      ansible.builtin.copy:
        src: "/home/{{ config.username }}/.vim/bundle/gruvbox-material/colors/gruvbox-material.vim"
        dest: "/home/{{ config.username }}/.vim/colors/"
      ignore_errors: true

    - name: Setup vim/neovim directories
      become: true
      become_user: {{ config.username }}
      ansible.builtin.copy:
        src: "{{ item }}"
        dest: "/home/{{ config.username }}/.config"
        backup: yes
      loop:
        - nvim

  when: 'config.config.install_shell'

- name: Install Dotfiles (Wayland)
  become: true
  become_user: {{ config.username }}
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "/home/{{ config.username }}/.config/"
    backup: yes
  loop: "{{ config_wayland }}"
  when: 'config.config.install_wayland'

- name: Install Dotfiles (Xorg)
  become: true
  become_user: {{ config.username }}
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "/home/{{ config.username }}/.config/"
    backup: yes
  loop: "{{ config_xorg }}"
  when: 'config.config.install_xorg'

- name: Install Dotfiles (All)
  become: true
  become_user: {{ config.username }}
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "/home/{{ config.username }}/.config/"
    backup: yes
  loop: "{{ config_all }}"
  when: "config.config.install_xorg or config.config.install_wayland"
